<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Blackbox</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>

<div ng-app="angularBlackbox">
    <div style="margin: 15px">
        <form>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="model.title">
            </div>
            <div class="form-group">
                <label>Content</label>
                <input type="text" class="form-control" ng-model="model.content">
            </div>
        </form>

        <collapsible title="{{model.title}}">
            <strong>Content:</strong> {{model.content}}
        </collapsible>

    </div>


</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>